# Ignore BlueJ-specific files
*.ctxt
*.pkg

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files (if ever opened in IntelliJ/Eclipse later)
*.iml
.idea/
*.log
*.ipr
*.iws
target/
bin/
out/
